.sectionCart {
    display: flex;
    padding: 5px 0;
    justify-content: end;
    align-items: center;
    padding: 20px 1em 0;
    button {
        @include styleText( $fs-2, $fw-bold, $tt-capitalize, $ta-center, 1px);
        @include colorText( $color-white, $color-deepPurple-500,  1px, $color-transparent, 20px);
        &:hover {
            color: $color-deepPurple-500 !important;
            background-color: $color-white !important;
            border: 1px solid $color-deepPurple-500 !important;
        }
    }
}
#tabs {
    width: 100%;
    padding: 3em 2em;
    margin: 0 auto;
    #listNavProductTabs {
        display: grid;
        grid-template-columns: repeat(12 , 1fr);
        gap: 10px;
        width: 100%;
        margin: 0 auto 20px;
        .tabsItem {
            display: block;
            width: 100%;
            margin: 0 auto;
            button {
                display: block;
                width: 100%;
                padding: 10px 0;
                margin: 0 auto;
                @include styleText( $fs-2, $fw-bold, $tt-capitalize, $ta-center, .5px);
                @include colorText( $color-white, $color-deepPurple-500, 1px, $color-transparent, 5px);
                transition: all .3s;
                &:hover {
                    @include colorText( $color-deepPurple-500, $color-white, 1px, $color-deepPurple-500, 15px);
                }
                &.active {
                    @include colorText( $color-black, $color-white, 1px, $color-black, 20px);
                }
            }
        }
    }
    #listProductTabs {
        display: block;
        width: 100%;
        padding: 2em;
        margin: 0 auto;
        border: 2px solid $color-black;
        border-radius: 10px;
        .tabContent {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 5px;
            width: 100%;
            margin: 0 auto;
        }
    }
}